*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    background-color: #112232 ;
}
div{
    padding: 50px 6%;
    background-color: #cfd9ed;
    border-radius: 9px;
    margin: 20px;
    color: #2b2b2b;
    text-align: center;
    font-size: 20px;
}
h1{
    font-size: 20px;
    color: #2b2b2b;
    text-align: center;
}
input{
    width: 100%;
    height: 30px;
    border-radius: 9px;
    border: 1px solid #2b2b2b;
    padding: 0px 10px;
    margin: 10px 0px;
    font-size: 15px;
    color: #2b2b2b;
}
.btn{
    border-radius: 6px;
    margin:0 3px;
}
img{
    width: 100%;
}
.as{
    height:1000%!important;
    width: 30%!important;
    background-color: white;
}
.task{
    width: 100%;
    height: auto;
    padding: 40px 5%;
    background-color: aquamarine;
    border-radius: 8px;
    margin-left: 0px!important;
    margin-top: 10px!important;
    color: black;
}

.divBotones{
    height: auto;
    width: max-content;
    margin: 0px!important;
    padding: 0px!important;
}


@media (max-width: 575.98px) {

    body{
        width: 100%;
        padding: 30px 6%;
        display: flex;
        flex-direction: column !important; 
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        background-color:  #cfd9ed ;
    }
    div{
        padding: 40px 6%;
        background-color: #112232;
        border-radius: 9px;
        margin: 20px;
        color: #2b2b2b;
        text-align: center;
        font-size: 20px;
    }
    h1{
        font-size: 20px;
        font-weight: 600;
        margin: 6px auto;
        color: #fff;
        text-align: center;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    body{
        width: 100%;
        padding: 30px 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        background-color:  #cfd9ed ;
    }
    div{
        padding: 40px 6%;
        background-color: #112232;
        border-radius: 9px;
        margin: 20px;
        color: #2b2b2b;
        text-align: center;
        font-size: 20px;
    }
    h1{
        font-size: 20px;
        font-weight: 600;
        margin: 6px auto;
        color: #fff;
        text-align: center;
    }
}






